html,
body {
  height: 100%;
  font-size: 1px;
}
body {
  font-family: var(--font-family);
  font-size: 16rem;
  background: var(--white);
  color: var(--txt-color-2);
}
.container {
  display: flex;
  max-width: 1920rem;
  margin-inline: auto;
  padding: 0 100rem;
  @include desktop {
    padding: 0 50rem;
  }
  @include mobile {
    padding: 0 30rem;
  }
}

.btn-1 {
  cursor: pointer;
  border: 0;
  outline: 0;
  align-items: center;
  background: none;
  border-radius: 80rem;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;


 

}

.btn-1:hover,
.btn-2:hover {
  transform: scale(0.9);
}

.btn-2 {
  @extend .btn-1;
  font-family: var(--second-family);
  border: 1rem solid var(--orange);
  color: var(--orange);

  
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
}
* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;

  @include desktop {
    transform: scale(0.9);
  }

  &-txt {
    margin-left: 0rem;
    font-weight: 700;
    font-size: 32rem;
    letter-spacing: 0.04em;
    margin-left: -55rem;
  }

  #dark-logo {
    color: var(--dark-cyan);
  }

  #light-logo {
    color: var(--white);
  }

  &-img {
    width: 83rem;
    height: 83rem;
  }
}

.logo-footer {
  display: flex;
  align-items: center;

  &-txt {
    margin-left: 0rem;
    font-weight: 700;
    font-size: 32rem;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-left: -55rem;
  }

  &-img {
    width: 83rem;
    height: 83rem;
  }
}

.title {
  font-weight: 700;
  font-size: 36rem;
  line-height: 180%;
  color: var(--blue);
  margin-bottom: 20rem;
  text-align: center;

  span {
    color: var(--orange);
  }

  @include mobile {
    font-size: 28rem;
  }
}

.desc {
  font-weight: 400;
  font-size: 24rem;
  line-height: 180%;
  text-align: center;
  color: var(--txt-color-2);
  text-align: center;

  @include mobile {
    font-size: 16rem;
  }
}
