.about {
  &__container {
    padding-top: 158rem;
    flex-direction: column;
    align-items: center;
   
    @include mobile{
      padding-top: 50rem;
    }
  }

  &__choise {
    display: flex;
    gap: 100rem;
    margin-top: 80rem;
    margin-bottom: 160rem;

    @include desktop {
      gap: 50rem;
      flex-direction: column;
    }

    @include tablet {
      margin-bottom: 90rem;
      gap: 30rem;
    }

    @include mobile{
      margin-top: 40rem;
      gap: 20rem;
      margin-bottom: 50rem;
    }

    &-block {
     width: 100%;
      padding: 132rem 154rem 123rem 154rem;
      border-radius: 20rem;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box; 

     @include tablet{
   
      padding: 90rem 100rem 80rem 100rem;
     }

     @include mobile{

      padding: 70rem 30rem 60rem 30rem;
      transform: scale(0.9);
      
     }

      &-title {
        font-weight: 600;
        font-size: 32rem;
        text-align: center;
        color: var(--white);
        margin-top: 20rem;
        min-width: 292rem;

        @include mobile{
          font-size: 28rem;
        }
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 36rem;
    line-height: 160%;
    color: var(--blue);
    max-width: 655rem;
    margin-bottom: 30rem;
  
    span {
      color: var(--orange);
    }

    @include mobile{
      font-size: 24rem;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 24rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: var(--txt-color-3);
    max-width: 700rem;
    margin-bottom: 30rem;
    
    @include mobile{
      font-size: 18rem;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 22rem;
    line-height: 180%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--txt-color-3);

    @include mobile{
      font-size: 16rem;
    }
   
  }

  &__group {
    display: flex;
    gap: 67rem;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
  }

  &__img-container {
    position: relative;
    display: inline-block;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.btn-instructor {
  font-weight: 500;
  font-size: 22rem;
  text-align: center;
  color: var(--white);

  border: 1px solid var(--white);
  padding: 24rem 38rem;
  margin-top: 17rem;
  min-width: 283rem;
  height: 80rem;
}

.btn-student {
  @extend .btn-instructor;
  background: rgba(35, 189, 238, 0.9);
  border: none;
}

#instructor {
  background-image: url('/assets/img/about_section/instructor.png');
}

#student {
  background-image: url('/assets/img/about_section/student.png');
}

#play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-desc {
  max-width: 1101rem;
}
