:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Nunito Sans', sans-serif;

  --transition: 0.2s all ease-in-out;

  --white: #fff;
  --black: #000;

  --primary-color: #252641;
  --primary-color-transparent: #252641ec;
  --dark-cyan: #113c49;
  --light-pink: #fff3e4;
  --orange: #f48c06;
  --light-orange: #f4c467;
  --blue: #2f327d;
  --testimonial: #525596;
  --line: #bdbdd1;

  --txt-color-1: #b2b3cf;
  --txt-color-2: #6c6c6c;
  --txt-color-3: #696984;
  --txt-color-4: #464646;

 
  --light-blue: #5b72ee;
  --cyan: #29b9e7;
}
